	<section id="fh5co-integrate" data-section="integrate">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.integrate.title }}{{ . }}{{ end }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 text-center">
					<div class="row">
						<div class="col-md-12 subtext to-animate">
							<img class="img-responsive" src="images/integrate.png" />
						</div>
					</div>
				</div>
				<div class="col-md-6  subtext to-animate">
					<h3 class="text-black">{{ with .Site.Params.integrate.description }}{{ . | markdownify }}{{ end }}</h3>
					<a href="https://vorto.eclipse.org/console" target="_blank" class="btn btn-primary" style="width: 170px">Try out integration</a>
				</div>
			</div>
		</div>
	</section>
